.about {
  padding: 90px 40px;
  border-bottom: 1px solid var(--color-highlight);
}

.section-inner {
  max-width: 1200px;
  margin: 0 auto;
  
   h2 {
    font-weight: 700;
    font-size: var(--font-size-title);
    max-width: 720px;
    margin-bottom: 20px;
    letter-spacing: -.5px;
    line-height: .97;
  }
}

.about-grid {
  display: grid;
  grid-template-columns: 1.3fr .9fr;
  gap: 60px;
  align-items: start;
}


