@font-face {
  font-family: 'ClashDisplay';
  src: url(/assets/fonts/ClashDisplay/ClashDisplay-Variable.woff2) format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: #f4f4f4;
}
