@import url('/styles/base.css');

.mainNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 20px 40px;
  gap: 20px;
  top: 0;
  position: sticky;
  z-index: 100;
  background: rgba(250,250,252,0.92);
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.brand {
  font-family: 'ClashDisplay';
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: #5B2A86;
}

.navbarLinks {
  align-self: center;
  
   ul{
    display: flex;
    gap: 30px;
    background: rgb(239, 238, 238);
    padding: 10px 20px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    
    a{
      display: inline-block;
      font-family: 'ClashDisplay';
      font-weight: 500;
      color: #101010;
      text-decoration: none;
      cursor: pointer;
      transition: all .2s ease;
    }
    
    a:hover{
      transform: translateY(-2px);
      color: #5B2A86;
      opacity: 0.9;
    }
   }
}

.nav-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
  .icon-btn svg{
    width: 20px;
    height: auto;
    stroke: currentColor;
    stroke-width: 2;
    transition: all .2s ease;
  }
  
  .icon-btn:hover svg{
    stroke: #d5b110;
    transform: rotate(20deg);
  }
}

.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding:5px 10px;
  border-radius: 20px;
  border: 1px solid rgba(0,0,0, 0.1);
  
}

.icon-btn:hover {
  background: black;
}

.status-badge {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:5px 10px;
  gap: 5px;
  border-radius: 20px;
  border: 1px solid rgba(0,0,0, 0.1);
  transition: all .2s ease;
  
  .nav-status {
    font-family: 'ClashDisplay';
    font-weight: 500;
    font-size: 12px;
  }
  
  .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: green;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);;
  }
}

.status-badge:hover {
  cursor: pointer;
  transform: translateY(-2px);
}
